/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.svg-sprite {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(var(--stripes-gradient)), repeating-linear-gradient(90deg, var(--stripes-gradient)), repeating-linear-gradient(var(--gradient-saturation));
  color: var(--color-text);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent);
  background-color: var(--background-color);
  border: 2px solid var(--outline-color);
  inline-size: clamp(23.438rem, 3.125rem + 65vw, 43.75rem);
  margin: 100px 0 100px 0;
  padding-block-end: 23px;
}

.header__logo {
  font-family: var(--font-accent);
  font-size: 65px;
  line-height: 65px;
    margin-block-start: 136px;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: 23px;
  text-transform: uppercase;
  margin-block-start: 21px;
  margin-bottom: 25px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  transition: var(--transition-duration);
  border: 1px solid transparent;
  outline: none;

  &:hover {
    border-bottom: 1px solid;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid;
  }
}

.theme-menu__item {
  &+& {
    margin-top: 14px;
  }
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border: transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &focus-visible::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

.theme-menu__button::before {
  content: "";
  position: absolute;
  left: -20px;
  display: inline-block;
  width: 1em;
  margin-right: 6px;
  animation: shift 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: currentColor;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-black);
  transition: width 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  &::after {
    width: 100%;
  }
}

@media (width <=376px) {
  .page {
    inline-size: 100%;
  }

  .header__title {
    margin-block-start: 112px;
  }

  .header__mintitle {
    margin-block-start: 8px;
  }

  .theme-menu__list {
    margin: 20px 0 21px 21px;
  }
}

@keyframes shift {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  margin: 50px;
}


.cards-list__item {
  margin: 54px;
  border: 2px solid var(--outline-color);
}


.card__title {
  font-size: 18px;
  padding: 5px 10px;
}

.wrapper {
  position: relative;
}

.wrapper {
  color: transparent;

  /* Проверяем поддержку -webkit-text-stroke */
  @supports (-webkit-text-stroke: 1px var(--outline-color)) {
    -webkit-text-stroke: 1px var(--outline-color);
  }

  /* Фолбэк с использованием text-shadow */
  @supports not (-webkit-text-stroke: 1px var(--outline-color)) {
    text-shadow: 1px 1px var(--outline-color), -1px 1px var(--outline-color),
      1px -1px var(--outline-color), -1px -1px var(--outline-color);
  }
}

.card__img-title {
  position: absolute;
  top: 22px;
  right: 11px;
  color: var(--color-black);
  -webkit-text-stroke: 1px #FFFFFF;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  z-index: 1;

}

.card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 25px;

}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.like-icon {
  cursor: pointer;
}




.card__like-button,
.button__save {
  background-color: var(--button-background-color);
  cursor: pointer;

  &:focus {
    
  }
}

/* Фильтры */

.filter_contrast {
  filter: contrast(30%);
}

.filter_saturate {
  filter: saturate(250%);
}

.filter_grayscale {
  filter: grayscale(0.6);
}

.filter_invert {
  filter: invert(0.7);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_blur {
  filter: blur(2.5rem);
}

.filter_mix {
  filter: hue-rotate(70deg) invert(31%);
}






/*Футер*/
.button__save {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  height: 55px;
  transition: 0.5s;
  border: 2px solid var(--color-black);
  padding: 15px 20px;
}

.button__icon {
  margin-right: 8px;
  width: 21px;
  height: 21px;
}

.button__text {
  flex-shrink: 0;
  font-family: var(--font-accent);
  font-size: 14px;
  cursor: pointer;
}


.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: var(--background-color);
  text-transform: uppercase;
  line-height: 150%;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.container__dialog {
  display: flex;
  gap: 20px;
  max-width: 293px;
}

.button-image__save {
  display: flex;
  flex-shrink: 0;
  width: 39px;
  cursor: pointer;
}

.button__dialog {
  width: 293px;
  height: 38px;
  border: 2px solid;
  background-color: var(--background-color);
  margin-top: 30px;

}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.button-dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}