/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.svg-sprite {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(var(--stripes-gradient)), repeating-linear-gradient(90deg, var(--stripes-gradient)), repeating-linear-gradient(var(--gradient-saturation));
  color: var(--color-text);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-main);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent);
  background-color: var(--background-color);
  border: 2px solid var(--outline-color);
  inline-size: clamp(23.438rem, 3.125rem + 65vw, 43.75rem);
  margin: 100px 0;
  padding-block-end: 23px;
  gap: 23px;
}

.header__logo {
  font-family: var(--font-accent);
  font-size: 65px;
  padding-top: 133px;

}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: 23px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  transition: var(--transition-duration);
  border: 1px solid transparent;
  outline: none;

  &:hover {
    border-bottom: 1px solid;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid;
  }
}

.theme-menu__item {
  &+& {
    margin-top: 14px;
  }
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border: transparent;
  outline: none;


  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: currentColor;
}

.theme-menu__button::before {
  content: " ";
  display: inline-block;
  width: 1em;
  margin-right: 6px;
  animation: shift 0.5s ease-in-out infinite alternate;
}

@keyframes shift {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}


.cards-list__item {
  margin: 54px;
  border: 2px solid var(--outline-color);
}


.card__title {
  font-size: 18px;
  padding: 5px 10px;
}

.wrapper {
  position: relative;
}

.wrapper {
  color: transparent;

  /* Проверяем поддержку -webkit-text-stroke */
  @supports (-webkit-text-stroke: 1px var(--outline-color)) {
    -webkit-text-stroke: 1px var(--outline-color);
  }

  /* Фолбэк с использованием text-shadow */
  @supports not (-webkit-text-stroke: 1px var(--outline-color)) {
    text-shadow: 1px 1px var(--outline-color), -1px 1px var(--outline-color),
      1px -1px var(--outline-color), -1px -1px var(--outline-color);
  }
}

.card__img-title {
  position: absolute;
  top: 22px;
  right: 11px;
  color: var(--color-black);
  -webkit-text-stroke: 1px #FFFFFF;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  z-index: 1;

}

.card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 25px;

}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


/* Фильтры */

.filter_contrast {
  filter: contrast(30%);
}

.filter_saturate {
  filter: saturate(250%);
}

.filter_grayscale {
  filter: grayscale(0.6);
}

.filter_invert {
  filter: invert(0.7);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_blur {
  filter: blur(2.5rem);
}

.filter_mix {
  filter: hue-rotate(70deg) invert(31%);
}






/*Футер*/
.button__save {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  inline-size: 335px;
  height: 55px;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--color-black);
  background-color: var(--background-color);
  gap: 8px;
}

.button__icon {
  margin-left: 19px;
  width: 21px;
  height: 21px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}


.dialog {
  color: #000;
  background-color: var(--background-color);
  inline-size: 353px;
  height: 191px;
  text-transform: uppercase;
  line-height: 150%;
}
.container__dialog {
display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 293px;
  margin: 30px 30px 0 30px;}

.button-image__save {
  display: flex;
  flex-shrink: 0;
  width: 39px;
  cursor: pointer;
}

.button__dialog {
  line-height: 1.5;
  width: 293px;
  height: 38px;
  border: 2px solid;
  background-color: var(--background-color);
  margin-top: 30px;

}




dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}