/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: "Inter-Variable", serif;
    --font-accent: "PressStart2P", fantasy;
    --color-black: #000000;
    --color-green: #00cc14;
    --background-color: #fff; 
    --button-background-color: #fff;
    --stripes-gradient: #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px;
    --gradient-saturation: #e7e7e7 0.01%, #1a1a1a 100%;
    --outline-color: #fff; 
}